@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto/static/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto/static/Roboto-Bold.ttf);
  font-weight: 700;
}

:root {
  --btn-primary-color: #2d6a4f;
  --btn-primary-hover: #22573f; /* Darker green for hover/focus */
  --btn-primary-border-hover: #1e4b37;
}

.btn-primary {
  background-color: var(--btn-primary-color) !important;
  border-color: var(--btn-primary-color) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--btn-primary-hover) !important;
  border-color: var(--btn-primary-border-hover) !important;
}

* {
  font-family: "Roboto", sans-serif;
}
